<script id="homeTemplate" type="text/html">
	
	<p data-bind="text:userNickname"></p>
	<p/>
	<ul data-role="listview">
		<li><a data-bind="event:{click:ui.gotoTestList}">voir mes tests</a></li>
		<li><a href="#admin?info=releaseNotes">notes de version</a></li>
		<!-- ko if: isAdmin -->
			<li><a href="#admin?info=listUsers">Admin: liste des utilisateurs</a></li>
		<!-- /ko -->
	</ul>
	<p/>
	<p><a data-role="button" data-inline="true" data-mini="true" data-bind="event:{click:ui.logout}">se déconnecter</a>
	</div>
	
</script>